---
title: mylayout
---

<!doctype html>
<html lang="{{ page.lang | default('it') }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- global stylesheet -->
  <link rel="stylesheet" href="css/style.css">
  <!-- optional: page-specific stylesheet -->
  {% if css %}
  <link rel="stylesheet" href="{{ css }}">
  {% endif %}
  <title>{{ title }}</title>
</head>

<body>
  <script>0</script> <!-- Avoid flash unstyled content -->
  
  <nav>
    <ul>
      {% for item in nav[page.lang] %}
      <li class="{% if page.url == item.url  | locale_url %}current-page{% endif %}"><a
          href="{{ item.url | locale_url }}">
          <img class="nav-icon" src="/assets/icons/{{item.icon}}" alt=""></i>
          {{ item.title }}
        </a></li>
      {% endfor %}

    </ul>

  </nav>



  <div class="container">

    {% for link in page.url | locale_links %}
      {%- if not loop.first %},{% endif %}
      <a id="language-switcher" href="{{link.url}}" lang="{{link.lang}}" hreflang="{{link.lang}}">{{link.label}}</a>
    {% endfor %}

    {{ content | safe }}

    <p id="credits">This website uses Uicons by <a href="https://www.flaticon.com/uicons">Flaticon</a></p>
  </div>

</body>

</html>