@import "fonts.css";
/* 
This way I can add all font families I might need in the other file,
keeping this CSS relatively short and easy to change.
*/

:root {
    --background-color: #f7f7f7;
    --text-color: #242424;
    --highlight-color: #ffdc20;
}

*, h1, h2 {
    font-family: "Public Sans", sans-serif;
    background: var(--background-color);
    color: var(--text-color);
    text-align: center;
    line-height: normal;
}

.container {
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr)); /*this */
    gap:10px;
    margin-top: 2rem;
}

h4 {
    margin-top: 0;
    font-weight: 600;
}

h1 {
    font-weight: 700;
}

p {
    text-align: left;
}



.link-button {
    margin: 2rem;
    padding: 1em;
    text-align: center;
    display: inline-block;
    border: 2.2px solid;
    width: auto;
    cursor: pointer;
}

a:hover {
    background-color: #ffdc20;
}


#airbnb-link:hover {
    color: white;
    background-color: #FF5A5F;
}

#booking-link:hover {
    color: white;
    background-color: #003580;
}




.buttons {
    list-style-type: none;
    padding: 0;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}



.small-padding:link {
    padding: 7px 12px;
}

.fa-brands, .fa-solid {
    background-color: inherit   ;
    color: inherit;
}


.title {
    text-align: left;
    font-weight: 600;
    padding: 0 0.1em;
    margin: 0;
    background-color: var(--highlight-color);
    color: var(--text-color);
    width: fit-content;
}


.highlight {
    background-color: var(--text-color);
    color: var(--background-color);
    width: fit-content;
    display: inline;
    text-align: left;
}
