@import url("variables.css");

#credits {
    color: rgb(154, 154, 154);
}

#decorative-band {
    height: 0.5rem;
    background-color: var(--brand-colour);
    width: 100dvw;
}

nav {
    background-color: var(--brand-colour);
}

nav ul {
    list-style-type: none;
    margin: auto;
    display: grid;
    padding: 0;
    grid-template-columns: repeat(5, 1fr);
    width: var(--content-width);

}

nav ul li {
    display: inline;
    text-align: center;
    padding: 1rem 0;
}

.nav-icon {
    width: 1.3rem;
    padding-bottom: 0.3rem;
}

nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 85%;
}


a:hover {
    text-decoration: none;
}

.current-page {
  cursor: default;
  background-color: var(--accent-colour);
}

.container {
    width: var(--content-width);
    margin: auto;
}

h1 {
    margin: 0.5rem 0;
}

h2 {
    border-top: solid 1px rgb(213, 210, 210);
    padding-top: 1rem
}

img {
    width: 100%;
}

p {
    line-height: 1.4;
}