@import url("variables.css");

nav {
    background-color: #ff5a5f;
}

nav ul {
    list-style-type: none;
    margin: auto;
    display: grid;
    padding: 0;
    grid-template-columns: repeat(4, 1fr);
}

nav ul li {
    display: inline;
    text-align: center;
    padding: 1rem 0;

}

a:hover {
    text-decoration: none;
}

.current-page {
  cursor: default;
  background-color: #db3d42;
}

body {
    width: var(--body-width);
    margin: auto;
}

#language-switcher {
    background-color: #ffffff;
}

h1 {
    margin: 0.5rem 0;
}

h2 {
    border-top: solid 1px gray;
    padding-top: 1rem
}

img {
    width: 100%;
}

p {
    line-height: 1.4;
}