@import url("variables.css");

#credits {
    color: rgb(154, 154, 154);
}

nav {
    background-color: #44b678;
}

nav ul {
    list-style-type: none;
    margin: auto;
    display: grid;
    padding: 0;
    grid-template-columns: repeat(4, 1fr);
}

nav ul li {
    display: inline;
    text-align: center;
    padding: 1rem 0;
}

.nav-icon {
    width: 1.3rem;
    padding-bottom: 0.3rem;
}

nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}

.current-page {
  cursor: default;
  background-color: #298753;
}

body {
    width: var(--body-width);
    margin: auto;
}

#language-switcher {
    background-color: #ffffff;
    padding: 0.5rem 0;
}

h1 {
    margin: 0.5rem 0;
}

h2 {
    border-top: solid 1px rgb(213, 210, 210);
    padding-top: 1rem
}

img {
    width: 100%;
}

p {
    line-height: 1.4;
}