* {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --body-width: 100dvw;
}

@media (min-width: 768px) {
    :root {
    --body-width: 80dvw;
    }
}

@media (min-width: 1024px) {
    :root {
    --body-width: 60dvw;
    }
}

.container {
    width: 95%;
    margin: auto;
}