* {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul
{
    color: #424242;
}


:root {
    --content-width: 100dvw;
    --accent-colour: #d44D13;
    --brand-colour: #d76329;
}

body, .main-content {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
}

nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 10;
}

.container {
    padding-bottom: 4.5rem;
}

@media (min-width: 768px) {
    :root {
        --content-width: 80dvw;
    }
    :target {
        scroll-margin-top: 4.8rem;
    }

    body, .main-content {
        flex-direction: column;
    }
    nav {   
        position: sticky;
        top: 0;
    }
    .container {
        padding-bottom: 0.5rem;
    }
}

@media (min-width: 1024px) {
    :root {
    --content-width: 70dvw;
    }
}

